.icon-48-imgs {
      background-image: url(../images/l_imgs.png);
      padding-left:60px!important;
}

.icon-48-img {
      background-image: url(../images/l_imgs.png);
      padding-left:60px!important;
}

